.button {
  border-radius: var(--border-radius-small);
  line-height: 14px;
  font-size: 14px;
  padding: 10px 14px;
  border: none;
  cursor: pointer;
  display: flex;
}

.smallButton {
  padding: 3.5px 10px;
}

.typePrimary:hover {
  background-color: var(--color-primary-hover);
}

.typeSecondary:hover {
  background-color: var(--color-secondary-hover);
}

.typePrimary:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-focus);
}

.typeSecondary:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-focus);
}

.typePrimary,
.typePrimary:active {
  background-color: var(--color-primary);
}

.typeSecondary,
.typeSecondary:active {
  background-color: var(--color-secondary);
}

.button:disabled {
  color: var(--color-disabled-font);
  background-color: var(--color-disabled);
  cursor: default;
}

.label {
  line-height: inherit;
  max-height: 14px;
}

.smallLabel {
  font-size: calc(var(--font-size) - 2px);
}

.labelWithPrefixIcon {
  margin-left: 8px;
}

.labelWithSuffixIcon {
  margin-right: 8px;
}

.spinner {
  width: 14px;
  height: 14px;
  vertical-align: -2px;
}
