.textarea {
  background-color: var(--color-neutral-1);
  border-radius: var(--border-radius-small);
  border: 1px solid var(--color-neutral-4);
  padding: 9px 14px;
  width: 100%;
  color: var(--color-neutral-9);
  resize: vertical;
}

.textarea::placeholder {
  color: var(--color-neutral-6);
}

.textarea:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--color-focus);
}

.containsError {
  border-color: var(--color-error);
}

.containsError:focus {
  box-shadow: 0 0 0 3px var(--color-error-light);
}
