.tabs {
}

.header {
  padding: 10px 0;
  border-bottom: 2px solid var(--color-neutral-2);
  margin-bottom: 25px;
}

.tabName {
  border: none;
  padding: 9px 14px;
  border-radius: var(--border-radius-small);
  font-size: var(--font-size);
  color: var(--color-neutral-7);
  background-color: var(--color-neutral-1);
  cursor: pointer;
}

.tabName:hover {
  background-color: var(--color-neutral-2);
  transition-duration: 0.2s;
}

.tabName.active {
  color: var(--color-neutral-8);
  font-weight: 600;
  background-color: var(--color-neutral-2);
  cursor: initial;
}

.tabName + .tabName {
  margin-left: 5px;
}
