@import "colors.css";

:root {

    /* ==================
        General styles 
    ================== */

    /* Font */
    --global-font-family: Lato, sans-serif;
    --global-font-color: var(--contrast-8);


    /* ==================
        Button styles 
    ================== */

    --button-border-radius: 3px;
    --button-line-height: 32px;

    --button-primary-background: var(--contrast-2);
}