:root {

    /* ==================
          Variables 
    ================== */

    /* Font */
    --global-font-family: Lato, sans-serif;

    /* Colors */
    --contrast-1: #FFFFFF;
    --contrast-2: #F7F7F7;
    --contrast-3: #F0F0F0;
    --contrast-4: #D6D6D6;
    --contrast-5: #ADADAD;
    --contrast-6: #7A7A7A;
    --contrast-7: #4D4D4D;
    --contrast-8: #2E2E2E;
    --contrast-9: #000000;

}