.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--border-radius-small);
}

.alert.alertSuccess {
  background-color: var(--color-success-light);
}

.alert.alertWarning {
  background-color: var(--color-warning-light);
}

.alert.alertError {
  background-color: var(--color-error-light);
}

.alert .contentContainer {
  padding: 14.5px 18px;
  display: flex;
  align-items: center;
}

.alert .contentContainer.closable {
  padding-right: 18px;
}

.alert .closeContainer {
  padding: 13.5px 17px 13.5px 13.5px;
  display: flex;
  align-items: center;
}

.alert .closeAlert {
  color: var(--color-neutral-5);
  cursor: pointer;
  height: 18px;
  width: 18px;
}

.message {
  display: inline-block;
}

svg.icon {
  margin-right: 10px;
  height: 16px;
  width: 16px;
  flex-shrink: 0;
}

svg.icon.iconSuccess {
  color: var(--color-success);
}

svg.icon.iconWarning {
  color: var(--color-warning);
}

svg.icon.iconError {
  color: var(--color-error);
}
