.alert {
  padding: 14.5px 18px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-small);
}

.alert.alertError {
  background-color: var(--color-error-light);
}

.alert.alertSuccess {
  background-color: var(--color-success-light);
}

.message {
  display: inline-block;
}

svg.icon {
  margin-right: 10px;
  height: 16px;
  width: 16px;
}

svg.icon.iconSuccess {
  color: var(--color-success);
}

svg.icon.iconError {
  color: var(--color-error);
}
