.cell {
  text-align: left;
  height: 32px;
  line-height: 32px;
  padding: 0 14px;
}

.cell:hover ~ .cell {
  background-color: var(--color-primary-hover);
}

.cell:first-child {
  border-radius: var(--border-radius-small) 0 0 var(--border-radius-small);
}

.cell:last-child {
  border-radius: 0 var(--border-radius-small) var(--border-radius-small) 0;
}
