@keyframes loadingKeyframes {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loadingCircleKeyFrames {
  0% {
    stroke-dashoffset: 600;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.svg {
  animation: loadingKeyframes 2s linear infinite;
  height: 12px;
  color: inherit;
}

.circle {
  stroke-dashoffset: 6;
  stroke-dasharray: 300;
  stroke-width: 16;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  animation: loadingCircleKeyFrames 1.6s cubic-bezier(0.4, 0.15, 0.6, 0.85) infinite;
  stroke: currentColor;
  fill: transparent;
}
