.ventura {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--font-color);
  box-sizing: border-box;
}

.ventura *,
.ventura *:before,
.ventura *:after {
  box-sizing: border-box;
}

svg[viewBox='0 0 24 24'][stroke-linejoin='round'][stroke-linecap='round'] {
  width: var(--font-size);
  height: var(--font-size);
}
