@import 'theme.css';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--font-color);
}

svg[viewBox="0 0 24 24"][stroke-linejoin="round"][stroke-linecap="round"] {
  width: var(--font-size);
  height: var(--font-size);
}
