/* ==================
     Color Variables
  ================== */

:root {
  --color-neutral-1: #ffffff;
  --color-neutral-2: #f4f4f4;
  --color-neutral-3: #ebebeb;
  --color-neutral-4: #d6d6d6;
  --color-neutral-5: #adadad;
  --color-neutral-6: #7a7a7a;
  --color-neutral-7: #4d4d4d;
  --color-neutral-8: #2e2e2e;
  --color-neutral-9: #000000;

  --color-error-1: #ffe2e2;
  --color-error-2: #eb3737;
}

/* ==================
         Theme
  ================== */

:root {
  /* Base colors */
  --color-primary: var(--color-neutral-2);
  --color-primary-font: var(--color-neutral-8);
  --color-primary-hover: var(--color-neutral-3);
  --color-primary-focus: var(--color-neutral-3);

  --color-secondary: var(--color-neutral-1);
  --color-secondary-font: var(--color-neutral-8);
  --color-secondary-hover: var(--color-neutral-2);
  --color-secondary-focus: var(--color-neutral-2);

  --color-error: var(--color-error-2);
  --color-error-light: var(--color-error-1);

  --color-disabled: var(--color-neutral-2);
  --color-disabled-font: var(--color-neutral-5);

  /* Font */
  --font-family: Lato, sans-serif;
  --font-size: 14px;
  --font-color: var(--color-neutral-8);

  /* Border */
  --border-radius-small: 3px;
}
