.tick {
  position: absolute;
  height: 40px;
  width: 50%;
  bottom: 0;
  padding: 0 10px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  bottom: -12px;
}

.alignRight {
  text-align: right;
  transform: translateX(-100%);
  padding: 0 0 0 10px;
}

.text {
  color: var(--color-neutral-6);
  margin-bottom: 13px;
  display: block;
}

.value {
  display: block;
}
